<p id="notice"><%= notice %></p>

<h1>Listing Login Records</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Source</th>
      <th>Datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @login_records.each do |login_record| %>
      <tr>
        <td><%= login_record.id %></td>
        <td><%= login_record.source %></td>
        <td><%= login_record.datetime %></td>
        <td><%= link_to 'Show', login_record %></td>
        <td><%= link_to 'Edit', edit_login_record_path(login_record) %></td>
        <td><%= link_to 'Destroy', login_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Login record', new_login_record_path %>
